footer {
  width: 100%;
  height: 335px;
  background-color: #3b3b3b;
  @include flex(flex, center, space-evenly, 0px, column, nowrap);
}
.end1 {
  width: 1200px;
  @include flex(flex, start, space-between, 0px, row, nowrap);
  height: 191px;
}
.ends1 {
  width: 327px;
  height: 191px;
  padding: 0 10px;
  @include flex(flex, start, space-evenly, 0px, column, nowrap);
  span {
    @extend .ppt;
  }
  .hmm {
    width: 238px;
    height: 65px;
    @include flex(flex, center, space-around, 0px, row, nowrap);
    a {
      font-size: 40px;
      color: #858584;
      font-weight: 400;
    }
  }
}
.ppt {
  font-weight: 400;
  font-family: $workSans;
  color: #cccccc;
  width: 238px;
}
.ends2 {
  width: 240px;
  height: 166px;
  @include flex(flex, start, space-around, 0px, column, nowrap);
  span {
    @extend .ppt;
  }
}
.h5 {
  font-size: 22px;
  font-family: $spaceMono;
  font-weight: 700;
  color: white;
}
.ends3 {
  width: 420px;
  height: 184px;
  @include flex(flex, start, space-around, 0px, column, nowrap);
  p {
    @extend .ppt;
    width: 330px;
  }
}
.was {
  width: 425px;
  height: 60px;
  position: relative;
  @include flex(flex, center, space-between, 0px, row, nowrap);
  input {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: none;
    padding: 0px 15px;
    font-size: 22px;
    font-family: $workSans;
  }
}
.end2 {
  width: 1200px;
  height: 40px;
  border-top: 1px solid #858584;
  @include flex(flex, start, end, 0px, column, nowrap);
  span {
    font-size: 12px;
    font-family: $workSans;
    font-weight: 400;
    color: #cccccc;
  }
}
@media only screen and (max-width: 576px) {
  footer {
    width: 100%;
    height: 776px;
  }
  .end1 {
    width: 335px;
    height: 635px;
    @include flex(flex, center, space-between, 0px, column, nowrap);
  }
  .end2 {
    width: 335px;
    height: 35px;
  }
  .ends1 {
    width: 335px;
    height: 185px;
  }
  .ends2 {
    width: 335px;
    height: 161px;
  }
  .ends3 {
    width: 335px;
    height: 227px;
  }
  .was {
    width: 335px;
    height: 108px;
    @include flex(flex, center, space-between, 0px, column, nowrap);
    input {
      width: 335px;
      height: 46px;
      font-size: 16px;
    }
  }
}
